<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- CSS SECTION -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href='/Content/app.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">

 
  </head>
  <body>



  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" >
      <a class="navbar-brand" href="/">XResearch</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

          <% if(title == "Surveys List") { %>
          <li class="nav-item active">
            <a class="nav-link" href="/surveys">Take Survey</a>
          </li>
          <% } else { %>
  
            <li><a class="nav-link" href="/surveys"></i>Take Survey</a></li>
  
          <% } %>

          <% if(typeof displayName == 'string' && displayName) { %>
            
            <% if(title == "My Surveys List") { %>

              <li class="nav-item">
                  <a class="nav-link " href="/surveys/mySurveys">My Surveys</a>
                </li>
                <% } else { %>
        
                  <li><a class="nav-link" href="/surveys/mySurveys">My Surveys</a></li>
        
                <% } %>

                <% if(title == "Create Survey") { %>
                  <li class="nav-item">
                      <a class="nav-link" href="/surveys/initial">Create</a>
                    </li>
                    <% } else { %>
        
                      <li><a class="nav-link" href="/surveys/initial"></i>Create</a></li>

                <% } %>  

                <% if(title == "User Profile") { %>

                  <li class="nav-item">
                      <a class="nav-link" href="../users/profile">Profile</a>
                    </li>
                    <% } else { %>
                      <li><a class="nav-link" href="/users/profile"></i>Profile</a></li>

                <% } %>



                
                <% } %> 
              




        </ul>


         <% if(typeof displayName == 'string' && displayName) { %>
  
            <span class="lead text-info"><%= displayName %></span>
  
            <a class="btn btn-lg btn-outline-danger"  href="/users/logout"><i class="fa fa-sign-out"></i> Logout</a>
  
          <% } else { %>
  
            <a class="btn btn-lg btn-outline-info" href="/users/login"><i class="fa fa-sign-in"></i> Login</a>
            
          <% } %>

      </div>
    </nav>

    </body>
    </html>

  