<% include ../partials/header.ejs %>
<!--File  name: 500 error,  Author's  name: Group 3,  web  site  name: Its Survey,  file  description: this file is to error page-->
    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          <p><%= error %></p>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


