<% include ../partials/header.ejs %>
<!--File  name: Contact,  Author's  name: Group 3,  web  site  name: Its Survey,  file  description: this file is to contact page-->
    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1>Implementing.....</h1>
          <p>.....</p>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


