<% include ../partials/header.ejs %>
<section class="home-box ">
  <div class="container ">


      <div class="row mt-5 ">
          <div class="col text-center">
              <h1 class="text-light display-1">X-Research</h1>
          </div>
      </div>

      <div class="row mt-10 ">

          <div class="col text-center ">
              <h1 class="text-info">Get The Answers You Need</h1>
             <a href="#how"> <h4 class="text-secondary">How it works?</h4></a>
              <a href="/surveys" class="btn  btn-outline-danger  mr-2">Give a Response</a>
              <a href="/users/register" class="btn  btn-outline-success ml-2">Sign Up</a>
          </div>


      </div>
  </div>

</section>

<section class="home-box">

<div class="container text-center ">

  <h2 id="how" class=" text-secondary display-4ng">How it Works?</h2>

  <div class="row text-light mt-10 ">
      <div class="col-md-4 text-center">
          <i class="fas fat fa-5x fa-clipboard"></i>
          <h2 class="text-secondary">Create a Survey</h2>
          <p>Ask People Their Opinion</p>
      </div>
      <div class="col-md-4">
          <i class="fas fat fa-5x fa-pen-alt"></i>
          <h2 class="text-secondary">Get Opinion</h2>
          <p>Let Them Respond</p>
      </div>
      <div class="col-md-4">
              <i class="fas fat fa-5x fa-chart-pie"></i>
              <h2 class="text-secondary">Analysis</h2>
          <p>Export and Print the Result</p>
       
      </div>
  </div>

  </div></section>

<% include ../partials/footer.ejs %>


