<% include ../partials/header.ejs %>
<main class="container">
<div class="login">
	<!-- Display flash messages  -->
	<% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
      <% } %>
		<div class="row text-light">
            <div class="col col-md-4 col-md-offset-6  center">
                <h1 class="text-center text-info">User Registration</h1>
                <form method="post">
                    <fieldset class="form-group">
                        <label for="email">Email: *</label>
                        <input name="email" type="email" class="form-control" required autofocus />
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="username">Username: *</label>
                        <input name="username" type="text" class="form-control" required />
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password">Password: *</label>
                        <input name="password" type="password" class="form-control" required />
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="displayName">Display Name: *</label>
                        <input name="displayName" type="text" class="form-control" required />
                    </fieldset>
                    <fieldset class="form-group text-right">
                        <input type="submit" class="btn btn-lg btn-outline-success" value="Submit"/>
                        <a href="/">
                            <input type="button" class="btn btn-lg btn-outline-warning" value="Cancel"/>
                        </a>
                    </fieldset>
                </form>
            </div>
        </div>
	</main>



<% include ../partials/footer.ejs %>
